VITE_FIREBASE_API_KEY=AIzaSyDqe4YXGVtglnjC3W1ODV4zRcADWtVFjSM
VITE_FIREBASE_AUTH_DOMAIN=windchill-mock-exam-v4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=windchill-mock-exam-v4
VITE_FIREBASE_STORAGE_BUCKET=windchill-mock-exam-v4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1088263687851
VITE_FIREBASE_APP_ID=1:1088263687851:web:013cd37e168d565e9071ee
VITE_FIREBASE_MEASUREMENT_ID=G-B2ZEEBH0SE
VITE_ADMIN_EMAILS=
VITE_ENABLE_SERVER_WRITES=false
